<div class="container">
    <!--导航-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<a [routerLink]="['/search/department']" routerLinkActive="active" class="navbar-brand">找科室</a>-->
                <!--<a [routerLink]="['/search/doctor']" routerLinkActive="active" class="navbar-brand">找医生</a>-->
            </div>
            <div>
                <p class="navbar-text">{{ hospital.name }}</p>
            </div>
        </div>
    </nav>
    <!--巨幕-->
    <div class="jumbotron">
        <h1>{{ hospital.name }}</h1>
        <p>{{ hospital.description }}</p>
        <p>
            <a [routerLink]="['/search/department']" routerLinkActive="active" class="btn btn-primary btn-lg"
               role="button">预约挂号</a>
        </p>
    </div>
    <!--轮播图-->
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of gallery">
            <img src="{{ image.imageurl }}" alt="carousel" height="375px">
        </ng-template>
    </ngb-carousel>
</div>