<div class="container">
    <!--轮播图-->
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of gallery">
            <img src="{{ image.imageurl }}" alt="carousel" height="375px">
        </ng-template>
    </ngb-carousel>
    <div class='field-label' name="description">
        <a># 医院介绍</a>
    </div>
    <div class="jumbotron">
        <h1>{{ hospital.name }}</h1>
        <p>{{ hospital.description }}</p>
        <!--<button class="btn btn-outline-info btn-lg" [@heroState]="state" (click)="toggleState()">预约挂号</button>-->
    </div>
    <div class='field-label'>
        <label># 医院位置</label>
    </div>
    <div class='field-label' name="contact">
        <label># 联系方式</label>
    </div>
    <div>
        <p>{{ hospital.contact }}</p>
    </div>
</div>