<div>
    <ul class="parent">
        <li *ngFor="let department of parent">
            <div (click)="showSubordinateDepartment(department.did)">
                <span class="badge">{{department.did}}</span> {{department.name}}
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="children">
        <li *ngFor="let department of children">
            <div (click)="showDoctorList(department.did)">
                <span class="badge">{{department.did}}</span> {{department.name}}
            </div>
        </li>
    </ul>
</div>