.top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
}

.panel-search-result {
    position: fixed;
    width: 230px;
    right: 0;
    margin-right: 14px;
    z-index: 999;
}