.entry-list {
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.entry-item {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-item img {
    width: 1.5rem;
    height: 1.5rem;
}

.entry-item div {
    font-size: 9pt;
    margin-top: 8px;
}

.outlet {
    width: 100%;
}