<div class='seperator'>
    <div>个人中心</div>
</div>
<div class='entry-list'>
    <div class='entry-item' bindtap='toAppointmentHistory' (click)="toMyAppointments()">
        <img src='../../../assets/icons/me/appointment.png'>
        <div>预约记录</div>
    </div>
    <div class='entry-item' bindtap='toCombineMobile'>
        <img src='../../../assets/icons/me/combine.png'>
        <div>关联手机</div>
    </div>
    <div class='entry-item' bindtap='toPatientList'>
        <img src='../../../assets/icons/me/patient.png'>
        <div>就诊人信息</div>
    </div>
    <div class='entry-item'>
        <img src='../../../assets/icons/me/collection.png'>
        <div>收藏</div>
    </div>
    <div class='entry-item'>
        <img src='../../../assets/icons/me/more.png'>
        <div>更多</div>
    </div>
</div>

<div class="logout d-flex flex-row justify-content-center align-items-center">
    <button class="btn btn-outline-primary btn-lg" (click)="logout()">退出登录</button>
</div>
