<div class="container">
    <ngb-alert type="danger" *ngIf="message" (close)="message=''">{{ message }}</ngb-alert>
    <div class="form-group field-item">
        <label>就诊医生：</label>
        <p>{{ doctorName }}</p>
    </div>
    <div class="form-group field-item">
        <label>就诊科室：</label>
        <p>{{ departmentName }}</p>
    </div>
    <div class="form-group field-item">
        <label>门诊时间：</label>
        <p>{{ schedule.visiting }}</p>
    </div>
    <div class="form-group field-item">
        <label> 门诊类型： </label>
        <p>专家门诊</p>
    </div>
    <div class="form-group field-item">
        <label>挂号费用</label>
        <p>{{ schedule.registerFee }}</p>
    </div>
    <div class="form-group field-item">
        <label>医疗服务费用</label>
        <p>{{ schedule.medicalFee }}</p>
    </div>
    <div class="d-flex flex-row justify-content-between" (click)="choosePatient()">
        <h3>就诊人</h3>
        <div class="d-flex flex-lg-row justify-content-center">
            <h4>{{ patientName }}</h4>
            <img class="go-forward-icon" src="../../../assets/icons/public/go-forward.png">
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <h3>初/复诊</h3>
        <img class="go-forward-icon" src="../../../assets/icons/public/go-forward.png">
    </div>
    <div class="d-flex flex-row justify-content-between">
        <h3>支付方式</h3>
        <img class="go-forward-icon" src="../../../assets/icons/public/go-forward.png">
    </div>
    <button (click)="onSubmitAppointment()" type="button" class="btn btn-success btn-lg btn-block">提交</button>
</div>
