<label>科室</label>
{{ departmentName }}
<hr>
<div>
    <img alt="医生头像" src="{{ doctor.imageur l}}">
    <h2>{{ doctor.name }}</h2>
    <h4>{{ doctor.title }}</h4>
    <h4>{{ doctor.position }}</h4>
    <label>简历：</label>
    <p>{{ doctor.resume }}</p>
    <label>擅长领域：</label>
    <p>{{ doctor.field }}</p>
    <br/>
    <div>
        <h1>医生排班</h1>
        <div *ngFor="let schedule of schedules">
            <label>门诊时间</label>
            <p>{{ schedule.visiting }}</p>
            <p *ngIf="schedule.section === 0">上午</p>
            <p *ngIf="schedule.section === 1">下午</p>
            <label>挂号费</label>
            <p>{{ schedule.registerFee }}</p>
            <label>医疗服务费</label>
            <p>{{ schedule.medicalFee }}</p>
            <button (click)="makeAppointment(schedule)">我要预约</button>
        </div>
    </div>
    <div>
        <h1>评论区</h1>
    </div>
</div>