<div class="container">
    <div>
        <h3>{{ doctorName }}</h3>
        <h3>{{ departmentName }}</h3>
        <div>
            <label>门诊时间：</label>
            <p>{{ schedule.visiting }}</p>
            <label> 门诊类型： </label>
            <p>专家门诊</p>
            <label>挂号费用</label>
            <p>{{ schedule.registerFee }}</p>
            <label>医疗服务费用</label>
            <p>{{ schedule.medicalFee }}</p>
        </div>
    </div>
    <div>
        <h3>就诊人</h3>
        <h3>初/复诊</h3>
        <h3>支付方式</h3>
    </div>
    <button (click)="onSubmitAppointment()" type="button" class="btn btn-success btn-lg btn-block">提交</button>
</div>
