/* You can add global styles to this file, and also import other style files */
/**
    图标
    -   进入下一级
 */
.go-forward-icon {
    width: 20px;
    height: 20px;
}

/**
    验证码
 */
.input-verification-code {
    width: 70%;
}

app-verification-code {
    width: 25%;
}

/**
    头像
*/
.head-image-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.doctor-head-image {
    width: 10rem;
    height: 10rem;
}

.doctor-head-image img {
    height: 100%;
}

/**
    表单验证
 */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

/*
 * 分隔线
 */

.seperator {
    width: 100%;
    height: 1.5rem;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.seperator div {
    color: #fff;
    font-size: 9pt;
    padding: 0 1rem;
}

.subtitle-label {
    color: #43454a;
}

.subtitle-value {
    color: #006e5f;
    padding-right: 1rem;
}

/*
 * 就诊人列表
 */

.patient-select-modal-body {
    height: 20rem;
    overflow: auto
}

.patient-select-modal-check {
    padding: 0 1.8rem;
    border-bottom: 0.1rem solid #ccc;
}

.patient-select-item {
    width: 100%;
    padding: 0.3rem 1rem;
}

.patient-select-item-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
